<!-- {
  EmpID: 1,
  Location: 'Bangolore',
  isMarried: 'Yes',
  Age: '50',
  religion: 'Christian',
}, -->

<!--- show int the texboxes not in the paragraph-->
<div class="container">
<form class="m-4">
  <div class="row">
    <h5>Employee Personal Details</h5>
  </div>
  <div class="form-group row mt-2">
    <div class="col-2">
      <label>EmpID </label>
      
    </div>
    <div class="col-6">
      <input name="empid" type="text" class="form-control" placeholder="Employee ID" [ngModel]="employeedetails.EmpID" />
    </div>
  </div>
  <div class="form-group row mt-2">
    <div class="col-2">
      <label>Location </label>
     
    </div>
    <div class="col-6">
      <input name="location" type="text" class="form-control" placeholder="Location" [ngModel] = "employeedetails.Location" />
    </div>
  </div>
  <div class="form-group row mt-2">
    <div class="col-2">
      <label>Age </label>
     
    </div>
    <div class="col-6">
      <input name="age" type="text" class="form-control" placeholder="Age" [ngModel]="employeedetails.Age" />
    </div>
  </div>
  <div class="form-group row mt-2">
    <div class="col-2">
      <label>Religion </label>
      
    </div>
    <div class="col-6">
      <input name="religion" type="text" class="form-control" placeholder="Religion" [ngModel]="employeedetails.religion" />
    </div>
  </div>
</form>
</div>
