<div style="padding:20px" class="mt-4">
  <h3>Login Page</h3>
  <form class="mt-4">
    <div class="form-group row">
      <label>Email</label>
       <div class="col-6">
      <input class="form-control"  type="text" placeholder="Please enter useremail">
       </div>
    </div>
    <div class="form-group row mt-3">
      <label>Password</label>
       <div class="col-6">
      <input class="form-control"  type="text" placeholder="Please enter Password">
       </div>
    </div>
  </form>
  <div style="margin-top: 10px"  class="form-group">
    <button class="btn btn-primary">Login</button>
  </div>
</div>
