<!-- <app-main></app-main> -->


<!-- can capture any kind of the component -->

<div class="m-4 p-4">
  <div class="row">
    <div class="col-3">
    <h3>Emploee Project</h3>
  </div>
  </div>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-4 ">
      <ul class="nav nav-tabs">
        <li>
          <a  routerLink="main" class="nav-item nav-link">Main</a></li>
        <li>
          <a  routerLink="employee" class="nav-item nav-link">Employee</a></li>
        <li>
          <a  routerLink="employeedetails" class="nav-item nav-link">Employee Details</a></li>
      </ul>
    </div>
  </div>
</div>


<router-outlet></router-outlet>